<!DOCTYPE html>
html(lang="en")
    include includes/_head.pug
    body
        .container
            .text-center
                a(href="/")
                    img(src="images/404.jpg", alt="404 Page not found", class="img-fluid")