div(class="input-group mb-3" ng-controller="taskUploadController")
    input(type="text" name="task" class="form-control" placeholder="Add a task..." aria-label="Add a task..." aria-describedby="basic-addon2" ng-model="task")
    div(class="input-group-append")
        button(class="btn btn-outline-primary font-weight-bold cursor" type="button" ng-click="save()") Add