nav(class="navbar navbar-expand-lg navbar-light bg-primary clearfix")
    div(class="container")
        a(class="nav-header text-white font-weight-bold float-left" href="/" style="text-decoration: none") TodoList
        a(href="#")
            img(src="images/profile_pictures/dev.png" alt="images/404.jpg" class="rounded-circle" width="32" height="32")