script(src="app.js")
script(src="services/task.factory.js")
script(src="services/state.machine.service.js")
script(src="controllers/task.upload.controller.js")
script(src="controllers/task.list.controller.js")
script(src="directives/task.items.directive.js")